{%extends 'plantilla.html'%}

{%block body%}

<h1 class="display-1 text-center mt-5 mb-5 text-danger" >Login</h1>

<div class="col-md-6 mt-5 rounded p-4 shadow-sm mx-auto">
    <div class="border rounded p-4 bg-dark text-white"> 
        <form class="Formulario" action="/iniciar" method="POST">

            <div class="form-group">
            
            <label for="RFC">RFC medico</label>
            <input type="text" class="form-control" name="txtrfc">
            
           
            
            <label for="con">Contraseña</label>
            <input type="text" class="form-control" name="txtpassword">
                
            </div>
    


            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>



{%endblock%}