{%extends 'plantilla.html'%}

{%block body%}

<h1 class="display-1 text-center mt-5 mb-5 text-danger" >Agregar Paciente</h1>

<div class="col-md-6 mt-5 rounded p-4 shadow-sm mx-auto">
    <div class="border rounded p-4 bg-dark text-white"> 
        <form class="Formulario" action="/guardarp" method="POST">

            <div class="form-group">
            
            <label for="RFC">Nombre del Paciente</label>
            <input type="text" class="form-control" name="txtpac">
                
               

            <label for="Fecha">Fecha de Nacimiento</label>
            <input type="text" class="form-control" name="fecha">


            <label for="Enfermedades">Enfermedades Cronicas</label>
            <textarea type="text" class="form-control" name="enfermedades" ></textarea>
        
           

            <label for="Alergias">Alergias</label>
            <textarea type="text" class="form-control" name="alergias"></textarea>
        
       

            <label for="Antecedentes">Antecedentes</label>
            <textarea type="text" class="form-control" name="antecedentes" ></textarea>
        

        
            </div>

            <button type="submit" class="btn btn-primary">Nueva Consulta</button>
        </form>
    </div>
</div>



{%endblock%}